
.articulos-div .contenedor-testimonio{
    
    width: 1400px;
    height: auto;
    margin: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 1px rgb(0 0 0 / 20%);
    /*padding: 10px;*/
}

.articulos-div  .imagen-testimonio{
    border-radius: 5px;
    margin: 8px;
    width: 600px;
    height: 200px;
   /* overflow: hidden;*/
 
    background-color: #ffffff;
    box-shadow: 0 4px 4px 1px rgb(0 0 0 / 20%);
    /*padding: 10px;*/
}



.articulos-div  .contenedor-texto-testimonio{
    width: 100%;
    padding: 10px 0px 10px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Dosis";
    line-height: 1.5rem;
}
.articulos-div  .nombre-testimonio{
    width: 700px;
    padding-left: 30px;
    margin: 10px 0px 0px 10px;
    height: 45px;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    border-radius: 10px 0px 0px 0px;
    float: left;
    text-align: left;
}

.articulos-div  .nombre-favorito{
    width: 700px;
    margin: 10px 10px 0px 0px;
    height: 45px;
    font-size: 1.4rem;
    background-color: black;
    color: white;
    border-radius: 0px 10px 0px 0px;
    float: right;
    text-align: right;
    padding-right: 30px;
}       


.articulos-div  .texto-testimonio{
    font-size: 1.1rem;
    text-align: justify;
    padding:0px 15px ;
    width: 800px;
    
}

.articulos-div .book:hover{
    cursor: pointer;
}
.articulos-div .box-buttons p{
    display: flex;
    width: 150px;
    font-size: 15px;
    justify-content: center;
    padding: 10px 0px;
    align-items: center;
    font-weight: 500;
}
.articulos-div .box-buttons{
    margin: 0px 10px;
    width: 1400px;
    background-color: rgb(255, 255, 255);
    height: 50px ;
    display: flex;
    box-shadow: 0 4px 4px 1px rgb(0 0 0 / 20%);
    padding: 15px;
    border-top:2px solid rgb(218, 218, 218);
    border-bottom:2px solid rgb(218, 218, 218);
    
}

.box-buttons .icons{
    margin-right: 10px;
}

.body-comments{
    background-color: rgb(238, 238, 238);
    height: 300px;
    overflow: auto;
    margin: 0 10px;
    padding: 10px;
    width: 1400px;
    box-shadow: 0 4px 4px 1px rgb(0 0 0 / 20%);
    border-radius: 0 18px 15px;
    margin-bottom: 15px;
}
.box-comments{
    width: 800px;
    display: flex;
}
.box-comments    .img-comment{
    border-radius: 5px;
    margin-right: 10px;
    width:50px ;
    height: 50px;
}.box-comments .form-control-lg{
    width: 1000px;

}

.box-comments .form-control{
    height: 40px;
    font-size: 1.0rem;

}

.box-comments button{
    margin-left: 10px;
    background-color: rgb(25, 171, 255);
}
.comentario1{
    border-radius: 10px;
    padding: 5px;
    background-color: #ffffff;
    border-top: 2px solid rgb(218, 218, 218);
    border-bottom: 2px solid rgb(218, 218, 218);
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.img-respuesta{
    margin-right: 10px;
    width:35px ;
    height: 35px;
}
.comentario1 h1{
    font-weight: 600;
    margin-top: 10px;
    font-size: 18px;
    
}
.comentario1 p{
    color: rgb(100, 100, 100);
    margin-left:45px;
    font-size: 15px;
    text-align: left;
}

.comentario1 .botones{
    color: rgb(0, 132, 255);
    font-size: 15px;
    
}
.comentario1 .botones:hover{
   cursor: pointer;
    
}
.box-comentario{
    width: 100%;
}