/* styles.css */
.filters-menu {
  margin-top: 10px;
  width: 1200px;
  height: auto;
  
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  
  align-items: center;
  align-content: center;
  border-radius: 10px;
  
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.filters-menu h4 {
  margin: 0;
  margin-bottom: 10px;
}

.filters-menu button {
  margin: 5px 2px;
  padding: 5px 10px;
  cursor: pointer;
 
  
  
} 
.button-filter-pos{
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
 
}
  


.button-filter{
  margin-top: 20px;
  width: 1200px;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.filters-menu button:hover {

}

.courses {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.course {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.buttonsFilt{
  justify-content: center;
  align-content: center;
  align-items: center;
  
}

.buttonsFilt button{
  margin: 2px;
}