.DropNotifi .contenedor-testimonio{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: px 5px;
    width: 390px;
    height: 90px;
    margin-top:3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-bottom:1px solid rgb(189, 189, 189);
    /*padding: 10px;*/
    border-radius: 10px;
}

.DropNotifi .imagen-testimonio{
    
    height: 30px;
    margin: 10px;
    width: 30px;
   /* overflow: hidden;*/
  
}

.DropNotifi .contenedor-texto-testimonio{
    width: 100%;
    padding: 4px;
    text-align: center;
    font-family: "Dosis";
    
    line-height: 0.9rem;
}

.DropNotifi .nombre-testimonio{
    font-size: 0.75rem;
    text-align: left;
    margin-bottom: 10px;
    line-height: 0px;
}


.DropNotifi .texto-testimonio{
    font-size: 0.75rem;
    text-align: justify;
    padding:0;
    
}

 .notificaciones{
    padding-bottom: 20px;
    height: 17px;
    width: 395px;
    margin-left: 8px;
    font-family: "Dosis";
    border-bottom: 2px solid black;
    ;
    
}
.texto-notificacion{
    font-size: 0.85rem;
    
}

 .dropdown-menu.show{
    height: 300px;
    overflow: auto;
}

.dropdown-menu.show {
    overflow: auto;
    /* Ajusta el tamaño y el estilo de la barra de desplazamiento */
    scrollbar-width: thin; /* "thin", "auto" o "none" dependiendo del navegador */
    scrollbar-color: #888888 #f0f0f0; /* color de la barra y del fondo */
  }
  
  /* Estilo específico para WebKit (Safari, Chrome) */
  .dropdown-menu.show::-webkit-scrollbar {
    width: 8px; /* ancho de la barra */
  }
  
  .dropdown-menu.show::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* color de fondo de la barra de desplazamiento */
  }
  
  .dropdown-menu.show::-webkit-scrollbar-thumb {
    background-color: #888888; /* color de la barra de desplazamiento */
    border-radius: 4px; /* bordes redondeados de la barra de desplazamiento */
  }
  