.equipo-contenedor{
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 1200px;
   height: auto;
}

.equipo-principal{
   
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 10px;
    height: auto;
    background-color: rgb(223, 223, 223);
    
}

.contenedor-equipo{
    justify-content: center;
    margin-top: 20px;
    display: flex;
  height: auto;
  
}

.contenedor-texto-equipo{
    text-align: left;
    width: 780px;
    height: auto;
    margin-right: 40px;
    text-align: justify;
}
.titulo-equipo{
    font-size: 1.1rem;
}

.tipo-equipo{
    margin-left: 5px;
    font-size: .9rem;
    color: rgb(71, 101, 136);
    font-weight: 500;
}

.texto-equipo{

}
.imagen-equipo{
    display: flex;
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    height: 200px;
    
}

.content-img{
    display: flex;
    align-items: center;
}


