.gallery-content{
    background-color: rgba(0, 64, 94, 0.089);
    margin-top: 95px;
    width: 1920px;
    height: 880px;
    justify-content: center;
    align-items: center;
    display: flex;
    align-content: center;
    
}

.gallery-center{
  
    background-color: rgb(255, 255, 255);
    width: 1800px;
    height: 800px;
    overflow: auto;
    max-width: 1800px;
    border: 2px solid rgb(221, 221, 221);
}

.encabezado{
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(198, 227, 231, 0.767);
    width: 1740px;
    height: auto;
    border-radius: 15px;
}

.gallery-content .titulo-princ{
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    font-weight: 700;
}

.gallery-content .titulo-estilo{
    padding-left: 10px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 600;
    width: 1760px;
    margin: 5px;
}

.gallery-content img{
    margin: 5px;
    transition: 0.3;
    width: 500px;
    height: 300px;
    display: flex;
    border-radius: 5px;
}

.gallery-content .imagenes{
    width: 1760px;
    display: flex;
    flex-wrap: wrap;
    
}

.contenedor-galeria-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-content img:hover{
    cursor: pointer;
    
    filter:brightness(50%);
}

.oscurecer{
    width: auto;
    height: auto;
}

.tamaño-carousel{

    margin-top: 45px;
    width: auto;
    height: auto;
    overflow: hidden;
    
}

.tamaño-carousel img{
    height: 750px;
    border-radius: 15px;
    
}