.fixed-component2 {
    width: 90%;
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0);
    padding: 16px;
   
    z-index: 1000;
    border-radius: 15px;
    overflow: auto;
    
  }
  
  .fixed-component2 .button-close {
    color: rgb(219, 219, 219);
    position: absolute;
    top: 0px;
    right: 10px;
    border: none;
    font-size: 40px;
  }

  .fixed-component2 .button-close {
   
    background-color: rgba(0, 0, 0, 0);
}
 
  
  .fixed-component2 h1, .fixed-component p{
    text-align: left;
  }

.gallery-content{
    background-color: rgb(10, 10, 10);
    margin-top: 95px;
    width: 1920px;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    align-content: center;
    
}

.gallery-center{
  
    background-color: rgb(0, 0, 0);
    width: 1900px;
    height: auto;
   
    max-width: 1900px;
    border: 2px solid rgb(0, 0, 0);
    scrollbar-color: #ffffff #f0f0f000;
}

.encabezado{
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(70, 70, 70, 0.767);
    width: 1850px;
    height: auto;
    border-radius: 15px;
}

.gallery-content .titulo-princ{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 700;
}

.gallery-content .titulo-estilo{
    padding-left: 10px;
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: 600;
    width: 1800px;
    margin: 5px;
}
/*HORIZONTAL*/
.gallery-content .vertical img{
    margin: 5px;
    transition: 0.3;
    width: 250px;
    height: 350px;
    display: flex;
    border-radius: 5px;

}


.gallery-content .horizontal img{
    margin: 5px;
    transition: 0.3;
    width: auto;
    width:550px ;
    height: 300px;
    display: flex;
    border-radius: 5px;

}

.gallery-content .imagenes{
    width: 1800px;
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}


.contenedor-galeria-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-content img:hover{
    cursor: pointer;
    
    filter:brightness(50%);
}

.oscurecer{
    width: auto;
    height: auto;
}

.tamaño-carousel{

    margin-top: 45px;
   
    overflow: hidden;
    
}

.tamaño-carousel img{
    width: auto;
    height: 740px;
    border-radius: 5px;
    
}

.fixed-component2 .sharedButton{
    height: 30px;
    padding-top: 4px;
    padding-bottom: 12px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.fixed-component2 .share-buttons {
    justify-content: center;
    margin-top: 5px;
}