/* HeroSection.css */

.hero {
  width: 100%;
  position: relative; /* Asegura que .fondo-imagen use el .hero como referencia */
  width: 100%; /* Ajusta el ancho según sea necesario */
  height: 100vh; /* Ajusta la altura según sea necesario */
}

.hero .fondo-imagen {
  width: 1920px; /* Ancho fijo de la imagen */
  height: 1000px; /* Altura fija de la imagen */
  position: absolute;
  top: -50px; /* Coloca el borde superior de la imagen en el 50% del contenedor .hero */
  left: 50%; /* Coloca el borde izquierdo de la imagen en el 50% del contenedor .hero */
  transform: translate(-50%, -50%); /* Centra la imagen exactamente */
  overflow: hidden; /* Oculta el contenido que sobresale del contenedor */
}
  .hero .content {
    width: 1800px;
    display: flex;
    left: 0;
    
    padding: 50px 0px;
    margin-top: 600px;
    margin-left: 0px;
    position: relative;
    
  }
  
  .hero .text {
    padding: 20px;
    background-color: rgb(255, 255, 255) ; 
    max-width: 40%;
    border-radius: 100px;
  }
  
  .hero .text h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .hero .text p {
    margin-bottom: 20px;
  }
  
  .hero .text button {
    padding: 15px 30px;
    background-color: #ffffff;
    color: rgb(7, 7, 7);
    border: none;
    cursor: pointer;
  }

  .hero .image{
    padding-left: 750px;
  }
  
  .hero .image .circle {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero .image img {
    width: 95%;
    border-radius: 50%;
  }
  
  .hero .stats {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    color: rgb(201, 121, 121);
  }
  