/* HeroSection.css */

.hero {
  width: 1920px;
  position: relative; /* Asegura que .fondo-imagen use el .hero como referencia */
  width: 100%; /* Ajusta el ancho según sea necesario */
  height: 580px; /* Ajusta la altura según sea necesario */
}

.hero .fondo-imagen {
  width: 1920px; /* Ancho fijo de la imagen */
  height: 1000px; /* Altura fija de la imagen */
  position: absolute;
  top: -50px; /* Coloca el borde superior de la imagen en el 50% del contenedor .hero */
  left: 50%; /* Coloca el borde izquierdo de la imagen en el 50% del contenedor .hero */
  transform: translate(-50%, -50%); /* Centra la imagen exactamente */
  overflow: hidden; /* Oculta el contenido que sobresale del contenedor */
}
  .hero .content {
    width: 1920px;
    display: flex;
    left: 0;
    
    padding: 50px 0px;
    margin-top: 540px;
    margin-left: 0px;
    position: relative;
    
  }
  
  .hero .text {
    padding: 20px;
    background-color:none; 
    max-width: 40%;
    border-radius: 100px;
    text-align: left;
    padding-left: 60px;
  }
  
  .hero .text h1 {
    font-size: 3.2em;
    color: #444444;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .hero .text p {
    margin-bottom: 20px;
    font-weight:500;
  }
  
  .hero .text button {
  
    cursor: pointer;
  }

  .hero .image{
    padding-left: 750px;
  }
  
  .hero .image .circle {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero .image img {
    width: 95%;
    border-radius: 50%;
  }
  
  .hero .stats {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  