
  .App .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3d3d3d;
    background: rgba(244, 245, 246);
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
  
  .App .navbar .nav-links {
    
  }

  .App .navbar .nav-links>a{
    color: #585858;
    font-weight: 1000;
    text-decoration: none;
    margin-top: 22px;
  }