.contenedor-noticias{
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    
    
}

.list-group{}

.contenedor-noticias .elements{
    width: 1200px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px; /* Espacio entre los elementos */
}

.pagination{
  align-items: center;
  align-content: center;
  justify-content: center;
}

.page-item.active .page-link {
    background-color: blue;
    color: white;
}

.contentNews{
    text-align: left;
    text-align: justify;
    border-top: 1px solid rgb(161, 159, 159);
    border-bottom: 1px solid rgb(161, 159, 159);
    margin-bottom: 20px;
}

.pagTittle{
    color: rgb(31, 30, 119);
    margin-top: 10px;
    text-align: left;
}

.contentNews .textP{
    color: rgb(71, 71, 71);
}