.contenedor-noticias{
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    
    
}

.list-group{}

.contenedor-noticias .elements{
    width: 1200px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px; /* Espacio entre los elementos */
}

.pagination{
  align-items: center;
  align-content: center;
  justify-content: center;
}

.page-item.active .page-link {
    background-color: blue;
    color: white;
}