.Titulo-pREP{/*CATEGORIAS*/
  font-family:Helvetica;
color: rgb(255, 255, 255);
padding: 190px;
text-align: center;
align-content: center;
align-items: center;
justify-content: center;
background-image: url("../img/premiump2.jpg");
background-repeat: no-repeat;
background-size:1920px 600px;
font-size: 80px;
width: 1920px;
height: 600px;
margin: 0;

}

.Subtitulo-pREP{/*CATEGORIAS*/
  font-family:Helvetica;
  color:black;
  background-color: black;
padding: 30px;
padding-left: 30px;
text-align:justify;
font-size: 45PX;
margin: 0;
background: linear-gradient(90deg, rgba(118,61,29,1) 0%, rgba(179,250,242,1) 100%);
}

.Contenedor-pREP{/*CATEGORIAS*/
text-align: center;
background: linear-gradient(90deg, rgba(118,61,29,1) 0%, rgba(179,250,242,1) 100%);
padding: 0px;
height: 400px;
display: flex;
overflow:auto;
scrollbar-color: #ffffff #f0f0f000;
width: 1920px;

}
/* Personalización de la Barra de Desplazamiento */

.cardP {
display:flexbox; /*CARD*/
  align-items: center;
  width: 420px;
  height: 350px;
  background-color:white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 18px auto;
  padding: -10px;
  flex: 0 0 auto;
  margin-right: 20px;
}
.cardP:hover {
  
  transform: translateY(-10px);
  background-image: linear-gradient(45deg, #42bdce, rgb(214, 158, 125));
  padding: 8px 10px;
}
.cardP-image {/*Contenedor para texto al par de imagen*/
  flex: -1;
}

.cardP-image img {
  border-radius: 10px;
  width: 100%;
}

.cardP-content {
  /*DISPLAY PARA MOVER LOS ELEMENTS*/
  flex: 1;
  padding-left: 0px;
}
.H2-titulo-premiumP {
  
  font-size: 20px;
  margin: 0 0 10px 0;
  font-family: Helvetica;
}
.cardP-content h2 {
  font-size: 20px;
  color:black;

}

.cardP-content h2 span {
  color: rgb(122, 23, 23) /* Adjust the color to match the design */
  
}

.cardP-content p {
  font-size: 15px;
  margin: 0 0 20px 0;
  color: #666;
}

.cardP-button {
  background-color: #FF3D00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.cardP-button:hover {
  background-color: #FF5733; /* Adjust the color to match the design */
}

.header h1 {
  margin: 0;
}

.movieP-list {
  display:flex;
 
  padding: 10px;
}

.movieP-card {
  flex: 0 0 auto;
  width: 400px;
  margin-right: 140px;
}

.movieP-card h3 {
  margin: 10px 0 0;
  font-size: 16px;
}
