.favoriteBtn{
    font-size: 25px;
  }
  .sidebar-content #dropdown-basic-button {
       width: 30px;
       height: 30px;
       margin: 0px;
       color: black;
       text-align: center;
       justify-content: center;
       line-height: 0;
       background-color: transparent; /* Fondo transparente */
      border: none; /* Sin borde */
      cursor: pointer; /* Cursor en forma de mano */
      padding: 0px; /* Espaciado interno */
      transition: background-color 0.3s;         /* Cursor de puntero al pasar por encima */
      font-size: 35px;
      overflow: hidden;
      
      
    }
   
    .sidebar-content .hide-caret .dropdown-toggle::after {
       display: none;
       
     }
    /* Estilos para la parte desplegable del menú */
    .sidebar-content .dropdown-menu.show {
        position: relative;       /* Espaciado interno de la parte desplegable */
         left: 0;
         padding: 0;
         margin: 0;
         background-color: rgb(255, 255, 255);
         border-radius: 15px;
         height: 1000px;
         padding: 10px;
         overflow: auto;
         overflow: auto;
       /* Ajusta el tamaño y el estilo de la barra de desplazamiento */
       scrollbar-width: thin; /* "thin", "auto" o "none" dependiendo del navegador */
       scrollbar-color: #ebebeb #f0f0f0; /* color de la barra y del fondo */
    }
