*{
  margin: 0;
  padding: 0;
}

html,
body{
  margin-top: 0px;
  font-size: 19px;

  
}

h1{
  max-width: 2000px;
  font-size: 2.5em;
  font-family: "Dosis";
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;

}

.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: none  ;
} 

.contenedor-principal{
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px; /* Espacio entre los elementos */
}

.section-home{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido-home{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
