// src/styles.scss

// Importa las variables de Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

// Sobrescribe las variables de Bootstrap aquí

$offcanvas-horizontal-width:    300px;

.offcanvas-xl, .offcanvas-xxl {
   
    --bs-offcanvas-width: 300px;}

    .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
        --bs-offcanvas-zindex: 1045;
        --bs-offcanvas-width: 300px;
        --bs-offcanvas-height: 30vh;
    }

// Importa el resto de Bootstrap
@import "~bootstrap/scss/bootstrap";